$font_family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei';
//侧栏宽度
$size_sidebar_normal: 250px;
$size_sidebar_mini: 75px;

//头像尺寸
$size_gravatar_normal: 120px;
$size_gravatar_mini: 50px;

//颜色色值
$color_default: white;
$color_main: #349ef3;
$color_light_grey: #eef2f8;
$color_dark_grey: #88909a;
$color_light_black: #666;
$color_dark_black: #333;

//字体尺寸
$size_font_12: 12px;
$size_font_14: 14px;
$size_font_16: 16px;
$size_font_18: 18px;
$size_font_20: 20px;
$size_font_24: 24px;
$size_font_32: 32px;
$size_font_48: 48px;


//常用尺寸
$size_common_5: 5px;
$size_common_10: 10px;
$size_common_15: 15px;
$size_common_20: 20px;
$size_common_25: 25px;
$size_common_30: 30px;
$size_common_35: 35px;
$size_common_40: 40px;
$size_common_45: 45px;
$size_common_50: 50px;
$size_common_55: 55px;
$size_common_60: 60px;