.markdown{
	line-height: 1.6;
	color: rgb(44,63,81)!important;
	p, pre, pre.prettyprint, blockquote {
	    margin: 0 0 1.1em;
	}
	h1, h2, h3, h4, h5, h6 {
	    font-weight: bold;
	    margin: 1.2em 0 .6em 0;
	}
	h1 {
	    font-size: 2.4em
	}

	h2 {
	    font-size: 2.0em
	}

	h3 {
	    font-size: 1.5em
	}

	h4 {
	    font-size: 1.25em
	}

	h5 {
	    font-size: 1em
	}

	h6 {
	    font-size: .75em
	}
	hr{
		margin: 2em 0;
		border: 0;
		border-top: 1px solid rgba(102,128,153,0.1);
	}
	b,strong{
		font-weight: bold;
	}
	a{
		background-color: transparent;
		color: #1980e6!important;
		text-decoration: none;
		&:hover,&:focus{
			color: #0f4d8a!important;
    		text-decoration: underline!important;
		}
	}
	table {
	    border-collapse: collapse;
	    border-spacing: 0;
	}
	table th,table td,table thead:first-child tr:first-child th {
	    padding: .5em;
	    border: 1px solid #ddd;
	    line-height: 1.5
	}
	code {
		font-family: "Consolas","Courier New",Courier,mono,serif;
    	font-size: .9em;
    	white-space: normal;
	    color: #c7254e;
	    background-color: #f9f2f4;
	    border-radius: 4px;
	    padding: 2px 4px;
	}
	blockquote {
	    background-color: rgba(102,128,153,0.05);
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	    padding: 15px 20px;
	    border-left: 10px solid rgba(102,128,153,0.075);
	    p{
	    	margin: 0;
	    }
	}
	ul{
		padding-left: 40px;
		margin-bottom: 16px;
		li{
			list-style: disc;
		}
	}
	.note-tags {
		a:hover{
			text-decoration: none!important;
			.notebook{
				background: rgba(44,63,81,0.3);
		    	color: #fff;
			}
		}
		.notebook {
			transition: background-color .2s ease-in-out , color .2s ease-in-out;
		    border-radius: 0;
			padding: 2px 5px;
			background-color: rgba(102,128,153,0.175);
			color: rgba(44,63,81,0.5);
		    margin-right: 6px;
		}
	}
	.highlight {
	    margin: 1em 0;
	    border-radius: 2px;
	    line-height: 1.1em;
	    background-color: #f8f8f8;
	    -webkit-overflow-scrolling: touch;
	    font-family: "Consolas","Courier New",Courier,mono,serif;
	}

	.highlight table{
		display: block;
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		background-color: #23241f;
	}

	.highlight table,.highlight tr,.highlight td {
	    width: 100%;
	    border-collapse: collapse;
	    padding: 0;
	    margin: 0;
	    border: none;
	}

	.highlight .gutter {
	    display: none
	}

	.highlight .code pre {
	    padding: 1.2em 1.4em;
	    line-height: 1.5em;
	    margin: 0;
	}

	pre {
	    color: #f8f8f2;
	    -webkit-font-smoothing: auto;
	}

	pre .function .keyword,pre .constant {
	    color: #66d9ef
	}

	pre .keyword,pre .attribute {
	    color: #f92672
	}

	pre .number,pre .literal {
	    color: #ae81ff
	}

	pre .tag,pre .tag .title,pre .change,pre .winutils,pre .flow,pre .lisp .title,pre .clojure .built_in,pre .nginx .title,pre .tex .special {
	    color: #f92672
	}
	pre .tag{
		color: #fff;
	}

	pre .class .title {
	    color: #fff
	}

	pre .symbol,pre .symbol .string,pre .value,pre .regexp {
	    color: #42b983
	}

	pre .title {
	    color: #a6e22e
	}

	pre .tag .value,pre .string,pre .subst,pre .haskell .type,pre .preprocessor,pre .ruby .class .parent,pre .built_in,pre .sql .aggregate,pre .django .template_tag,pre .django .variable,pre .smalltalk .class,pre .javadoc,pre .django .filter .argument,pre .smalltalk .localvars,pre .smalltalk .array,pre .attr_selector,pre .pseudo,pre .addition,pre .stream,pre .envvar,pre .apache .tag,pre .apache .cbracket,pre .tex .command,pre .prompt {
	    color: #e6db74
	}

	pre .comment,pre .java .annotation,pre .python .decorator,pre .template_comment,pre .pi,pre .doctype,pre .shebang,pre .apache .sqbracket,pre .tex .formula {
	    color: #75715e
	}

	pre .deletion {
	    color: #BA4545
	}

	pre .coffeescript .javascript,pre .javascript .xml,pre .tex .formula,pre .xml .javascript,pre .xml .vbscript,pre .xml .css,pre .xml .cdata {
	    opacity: 0.5
	}
}