#sidebar{
	width: $size_sidebar_normal;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('../images/cover.jpg');
	background-size: cover;
	overflow: auto;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
	body.side &{
		transform: translate3D(0,0,0);
	}
	.profile{
		padding-top: $size_common_40;
		padding-bottom: $size_common_10;
		a,img{
			width: $size_gravatar_normal;
			height: $size_gravatar_normal;
			border-radius: $size_gravatar_normal;
			overflow: hidden;
		}
		a{
			display: block;
			margin: 0 auto;
		}
		span{
			display: block;
			padding: $size_common_10 0;
			font-size: $size_font_18;
			color: $color_default;
			text-align: center;
		}
	}
	.buttons{
		margin: 0 0 $size_common_20;
		li{
			display: block;
			width: 100%;
			height: $size_common_45;
			line-height: $size_common_45;
			font-size: $size_font_16;
			a{
				padding-left: $size_common_25;
				display: block;
				color: $color_default;
				transition: color .2s;
				text-decoration: none;
				i,span{
					display: inline-block;
					vertical-align: middle;
				}
				i{
					width: $size_common_25;
					height: $size_common_45;
					line-height: $size_common_45;
					text-align: center;
					margin-right: $size_common_20;
				}
				&:hover{
					color: rgba( $color_default , .8);
				}
			}
		}
	}
}

@include screen( 768px , 1024px ){
	#sidebar{
		width: $size_sidebar_mini;
		.profile{
			padding-top: $size_common_20;
			a,img{
				width: $size_gravatar_mini;
				height: $size_gravatar_mini;
				border-radius: $size_gravatar_mini;
			}
			span{
				display: none;
			}
		}
		.buttons{
			li{
				a{
					padding: 0;
					i{
						font-size: $size_font_18;
						display: block;
						margin: 0 auto;
					}
					span{
						display: none;
					}
				}
			}
		}
	}
}

@include max-screen( 768px ){
	#sidebar{
		transition: transform .2s ease-in-out;
		transform: translate3D( -$size_sidebar_normal , 0, 0 );
	}
}