#page-archive{
	padding: 0 $size_common_30;
	section{
		position: relative;
		h1.year{
			border-top: 1px solid $color_default;
		    line-height: $size_common_35;
		    padding-top: $size_common_15;
		    font-size: $size_common_30;
		    color: $color_light_black;
		    position: absolute;
		    top: 0;
		    width: $size_common_20*10;
		    &::before{
		    	border-top: 1px solid rgba($color_dark_grey,.3);
			    content: "";
			    position: absolute;
			    top: -2px;
			    width: 100%;
		    }
		}
		article{
			margin-left: $size_common_20*10;
    		padding: $size_common_15 0;
            height: $size_common_60 + $size_common_5;
    		border-bottom: 1px solid rgba($color_dark_grey,.3);
    		border-top: 1px solid $color_default;
    		position: relative;
    		h1{
    			font-size: $size_font_18;
                line-height: $size_common_35;
    			font-weight: normal;
    			a{
    				color: $color_dark_black;
    				text-decoration: none;
    				transition: color .2s ease-in-out;
    				&:hover{
    					color: $color_main;
    				}
    			}
    		}
    		.meta{
    			color: $color_dark_black;
			    float: right;
			    font-size: $size_font_12 + 1px;
                line-height: $size_common_35;
			    position: relative;
			    text-align: right;
			    width: auto;
			    .tags{
			    	margin-left: $size_common_5;
			    }
			    a{
			    	color: $color_dark_grey;
			    	text-decoration: none;
			    	&:hover{
			    		color: $color_main;
			    	}
			    }
    		}
		}
	}
}
@include max-screen( 768px ){
    #page-archive{
        padding: 0 $size_common_15;
        section{
        	h1.year{
        		width: 100%;
        		position: static;
        		font-size: $size_font_24;
        		&::before{
        			border: none;
        		}
        	}
        	article{
        		margin-left: 0;
        		.meta{
        			display: none;
        		}
        		h1{
        			font-size: $size_font_16;
        		}
        	}
        }
    }
}