#page-post{
    padding: $size_common_30;
    article{
        border-bottom: 1px solid $color_light_grey;
        position: relative;
        img{
            max-width: 100%;
        }
        a{
            color: $color_dark_black;
            text-decoration: none;
            transition: color .2s;
            &:hover{
                color: $color_main;
            }
        }
        .meta{
            position: relative;
            float: right;
            text-align: right;
            font-size: $size_font_14;
            line-height: $size_font_14;
            color: #555;
            .tags{
                padding-top: $size_common_10;
                a{
                    color: $color_dark_grey;
                    &:hover{
                        color: $color_main;
                    }
                }
            }
        }
        h1{
            margin-top: 0;
            margin-bottom: $size_common_25;
        }
    }
}
@include max-screen( 768px ){
    #page-post{
        padding: $size_common_15;
        article{
            .meta{
                display: none;
            }
            h1{
                font-size: $size_font_24;
                margin-bottom: $size_common_10;
            }
        }
    }
}