$font_family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei';

$color_light_black: #323436;
$color_dark_black: #222;

$color_light_grey: #f6f9fa;
$color_grey_grey: #eee;
$color_middle_grey: #999;
$color_dark_grey: #666;

$color_default: #fff;
$color_main: #2479CC;

$size_sidebar_normal: 250px;
$size_sidebar_mini: 75px;

$size_gravatar_normal: 120px;
$size_gravatar_large: 100px;
$size_gravatar_mini: 40px;

$curve: cubic-bezier(0.4, 0.01, 0.165, 0.99);