#page-index{
	h1.search{
		padding: $size_common_20 $size_common_30;
		background-color: $color_light_grey;
		text-align: center;
		b{
			color: $color_main;
			padding: 0 $size_common_5;
		}
	}
	article{
		border-bottom: 1px solid $color_light_grey;
	    border-top: 1px solid $color_default;
	    padding: $size_common_30;
	    position: relative;
	    a{
		    color: $color_dark_black;
			text-decoration: none;
			transition: color .2s;
			&:hover{
				color: $color_main;
			}
    	}
    	.meta{
    		position: relative;
    		float: right;
    		text-align: right;
    		font-size: $size_font_14;
    		line-height: $size_font_14;
    		color: #555;
    		.tags{
    			padding-top: $size_common_10;
    			a{
				    color: $color_dark_grey;
					&:hover{
						color: $color_main;
					}
		    	}
    		}
    	}
	    h1{
	    	font-size: $size_font_24;
		    line-height: $size_common_25;
		    margin-bottom: $size_common_25;
	    }
	    .desc{
	    	font-size: $size_font_16;
		    line-height: 1.8;
		    word-wrap: break-word;
		    word-break: break-all;
		    color: $color_light_black;
	    }
	    p.more{
	    	margin-top: $size_common_15;
	    	text-align: right;
	    	a{
	    		color: $color_main;
	    		&:hover{
	    			text-decoration: underline;
	    		}
	    	}
	    }
	}
}
@include max-screen( 768px ){
	#page-index{
		h1.search{
			padding: $size_common_15;
		}
		article{
			padding: $size_common_15;
			.meta{
				display: none;
			}
			h1{
				font-size: $size_font_20;
				margin-bottom: $size_common_10;
			}
			.desc{
				font-size: $size_font_14;
			}
			p.more{
		    	margin-top: $size_common_10;
		    }
	    }
	}
}

@import 'include/pagination';