#page-tags{
	padding: 30px;
	color: $color_dark_black;
	section{
		padding: $size_common_15 0;
		a{
			display: inline-block;
			font-size: $size_font_14;
	    	padding: 0 $size_common_15;
	    	height: $size_common_40;
	    	line-height: $size_common_40;
	    	color: rgba($color_main,.8);
	    	border: 1px solid rgba($color_main,.8);
	    	border-radius: $size_common_5;
	    	margin: 0 $size_common_15 $size_common_10 0;
	    	text-decoration: none;
	    	transition: color .2s ease-in-out , border .2s ease-in-out;
	    	&:hover{
	    		color: $color_main;
	    		border-color: $color_main;
	    	}
		}
	}
}
@include max-screen( 768px ){
    #page-tags{
        padding: $size_common_15;
        h1{
            font-size: $size_font_24;
            margin-bottom: $size_common_10;
        }
    }
}